# Regression Benchmark

### Importing Libraries

In [33]:
#importing libraries 
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### Importing Dataset

In [31]:
data=pd.read_csv('train_bm.csv')

In [3]:
data.shape

(8523, 12)

In [4]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

### Shuffling and Creating Train and Test Set

In [6]:
from sklearn.utils import shuffle

# Shuffling the Dataset
data = shuffle(data, random_state = 42)

#creating 4 divisions
div = int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train = data.iloc[:3*div+1,:]
test = data.iloc[3*div+1:]

In [7]:
train.shape, test.shape, data.shape

((6391, 12), (2132, 12), (8523, 12))

In [38]:
train.head(100)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean
7503,FDI28,14.300,Low Fat,0.026300,Frozen Foods,79.4302,OUT013,1987,High,Tier 3,Supermarket Type1,1743.0644,2154.479628
2957,NCM17,7.930,Low Fat,0.071136,Health and Hygiene,42.7086,OUT046,1997,Small,Tier 1,Supermarket Type1,356.8688,2154.479628
7031,FDC14,14.500,Regular,0.041313,Canned,42.0454,OUT049,1999,Medium,Tier 1,Supermarket Type1,377.5086,2154.479628
1084,DRC36,NaN,Regular,0.044767,Soft Drinks,173.7054,OUT027,1985,Medium,Tier 3,Supermarket Type3,5778.4782,2154.479628
856,FDS27,10.195,Regular,0.012456,Meat,197.5110,OUT035,2004,Small,Tier 2,Supermarket Type1,2356.9320,2154.479628
4304,DRK12,9.500,Low Fat,0.041951,Soft Drinks,32.4900,OUT049,1999,Medium,Tier 1,Supermarket Type1,865.5400,2154.479628
2132,FDO25,NaN,Low Fat,0.126832,Canned,209.0270,OUT027,1985,Medium,Tier 3,Supermarket Type3,4613.9940,2154.479628
1385,FDB58,10.500,Regular,0.013551,Snack Foods,142.0154,OUT018,2009,Medium,Tier 3,Supermarket Type2,2410.8618,2154.479628
5239,FDY48,14.000,Low Fat,0.023832,Baking Goods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1948.1308,2154.479628
6516,NCP42,8.510,Low Fat,0.016176,Household,192.1478,OUT018,2009,Medium,Tier 3,Supermarket Type2,1937.4780,2154.479628
4509,NCD43,8.850,Low Fat,0.026814,Household,103.7964,OUT010,1998,NaN,Tier 3,Grocery Store,210.3928,2154.479628
1670,NCQ06,NaN,Low Fat,0.073229,Household,254.1014,OUT019,1985,Small,Tier 1,Grocery Store,255.0014,2154.479628
4313,FDR45,10.800,Low Fat,0.029107,Snack Foods,240.5222,OUT017,2007,NaN,Tier 2,Supermarket Type1,4541.4218,2154.479628
1623,FDY12,9.800,Regular,0.000000,Baking Goods,49.2008,OUT013,1987,High,Tier 3,Supermarket Type1,657.8104,2154.479628
5220,DRG39,14.150,Low Fat,0.042181,Dairy,52.0982,OUT046,1997,Small,Tier 1,Supermarket Type1,578.5802,2154.479628
6753,NCM05,6.825,Low Fat,0.059836,Health and Hygiene,264.3226,OUT035,2004,Small,Tier 2,Supermarket Type1,4229.1616,2154.479628
315,FDF46,7.070,Low Fat,0.093861,Snack Foods,115.5834,OUT045,2002,NaN,Tier 2,Supermarket Type1,1267.0174,2154.479628
3524,FDB12,11.150,Regular,0.105288,Baking Goods,103.2648,OUT035,2004,Small,Tier 2,Supermarket Type1,2388.8904,2154.479628
7716,FDT26,18.850,Regular,0.068059,Dairy,120.3440,OUT049,1999,Medium,Tier 1,Supermarket Type1,1797.6600,2154.479628
2083,FDL20,NaN,Low Fat,0.127793,Fruits and Vegetables,111.1886,OUT027,1985,Medium,Tier 3,Supermarket Type3,4447.5440,2154.479628
4463,FDI04,13.650,reg,0.073060,Frozen Foods,196.2426,OUT045,2002,NaN,Tier 2,Supermarket Type1,2570.6538,2154.479628
4411,FDK50,7.960,Low Fat,0.028340,Canned,162.4894,OUT013,1987,High,Tier 3,Supermarket Type1,1779.6834,2154.479628
2112,FDX58,13.150,LF,0.043852,Snack Foods,182.6950,OUT045,2002,NaN,Tier 2,Supermarket Type1,4211.1850,2154.479628
1057,FDT28,13.300,Low Fat,0.063665,Frozen Foods,151.6708,OUT049,1999,Medium,Tier 1,Supermarket Type1,3912.2408,2154.479628
868,NCB31,6.235,Low Fat,0.119346,Household,261.9910,OUT017,2007,NaN,Tier 2,Supermarket Type1,2366.9190,2154.479628
700,DRH25,NaN,Low Fat,0.014522,Soft Drinks,50.2324,OUT027,1985,Medium,Tier 3,Supermarket Type3,1298.3100,2154.479628
6903,FDG21,NaN,Regular,0.256152,Seafood,151.0050,OUT019,1985,Small,Tier 1,Grocery Store,149.8050,2154.479628
4087,FDE28,9.500,Regular,0.000000,Frozen Foods,228.4668,OUT049,1999,Medium,Tier 1,Supermarket Type1,3916.2356,2154.479628
4562,FDG09,20.600,Regular,0.048207,Fruits and Vegetables,188.0556,OUT017,2007,NaN,Tier 2,Supermarket Type1,2065.3116,2154.479628
8222,FDL13,13.850,Regular,0.056406,Breakfast,231.4300,OUT049,1999,Medium,Tier 1,Supermarket Type1,3029.3900,2154.479628
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,NCK05,20.100,Low Fat,0.077390,Health and Hygiene,60.8536,OUT013,1987,High,Tier 3,Supermarket Type1,1347.5792,2154.479628
5414,FDS48,NaN,Low Fat,0.048638,Baking Goods,149.7708,OUT019,1985,Small,Tier 1,Grocery Store,150.4708,2154.479628
6119,NCK30,14.850,Low Fat,0.060967,Household,254.3698,OUT035,2004,Small,Tier 2,Supermarket Type1,4566.0564,2154.479628
7814,FDB36,5.465,Regular,0.048626,Baking Goods,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1311.6260,2154.479628
6758,FDN13,18.600,Low Fat,0.152295,Breakfast,98.9358,OUT049,1999,Medium,Tier 1,Supermarket Type1,1508.0370,2154.479628
2684,FDS49,9.000,Low Fat,0.079279,Canned,77.2644,OUT013,1987,High,Tier 3,Supermarket Type1,1335.5948,2154.479628
1313,FDW37,NaN,Low Fat,0.123450,Canned,89.7488,OUT027,1985,Medium,Tier 3,Supermarket Type3,1901.5248,2154.479628
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028,2154.479628
5780,FDU19,8.770,Regular,0.046844,Fruits and Vegetables,174.2422,OUT049,1999,Medium,Tier 1,Supermarket Type1,1379.5376,2154.479628
2999,FDI26,5.940,Low Fat,0.035084,Canned,176.4344,OUT017,2007,NaN,Tier 2,Supermarket Type1,2141.2128,2154.479628
3428,NCD19,8.930,LF,0.000000,Household,53.2614,OUT049,1999,Medium,Tier 1,Supermarket Type1,552.6140,2154.479628
3231,FDW15,NaN,Regular,0.054847,Meat,147.3734,OUT027,1985,Medium,Tier 3,Supermarket Type3,3266.4148,2154.479628
5744,FDG28,9.285,Regular,0.049280,Frozen Foods,245.6144,OUT046,1997,Small,Tier 1,Supermarket Type1,3920.2304,2154.479628
5382,FDQ59,NaN,Regular,0.000000,Breads,84.5908,OUT027,1985,Medium,Tier 3,Supermarket Type3,3020.0688,2154.479628
7433,FDW57,8.310,Regular,0.000000,Snack Foods,177.4028,OUT046,1997,Small,Tier 1,Supermarket Type1,3896.2616,2154.479628
318,FDB53,13.350,Low Fat,0.139735,Frozen Foods,147.5392,OUT045,2002,NaN,Tier 2,Supermarket Type1,3877.6192,2154.479628
1328,FDS50,17.000,Low Fat,0.055546,Dairy,220.5114,OUT045,2002,NaN,Tier 2,Supermarket Type1,5321.0736,2154.479628
221,FDC60,5.425,Regular,0.115120,Baking Goods,88.3514,OUT017,2007,NaN,Tier 2,Supermarket Type1,1416.8224,2154.479628
4879,NCX41,19.000,Low Fat,0.017755,Health and Hygiene,211.7244,OUT045,2002,NaN,Tier 2,Supermarket Type1,2752.4172,2154.479628
8263,FDB32,NaN,Low Fat,0.023339,Fruits and Vegetables,94.8778,OUT027,1985,Medium,Tier 3,Supermarket Type3,4036.7454,2154.479628
5990,FDQ07,NaN,Regular,0.086984,Fruits and Vegetables,219.8456,OUT027,1985,Medium,Tier 3,Supermarket Type3,1547.3192,2154.479628
7426,FDI21,5.590,Regular,0.056718,Snack Foods,62.9168,OUT045,2002,NaN,Tier 2,Supermarket Type1,1406.1696,2154.479628
8032,FDW13,8.500,Low Fat,0.097885,Canned,52.5324,OUT046,1997,Small,Tier 1,Supermarket Type1,1194.4452,2154.479628
4525,FDE05,10.895,Regular,0.032638,Frozen Foods,147.7102,OUT017,2007,NaN,Tier 2,Supermarket Type1,1895.5326,2154.479628
7652,FDS09,8.895,Regular,0.081253,Snack Foods,49.8008,OUT045,2002,NaN,Tier 2,Supermarket Type1,1062.6168,2154.479628
1195,FDO19,17.700,Regular,0.016622,Fruits and Vegetables,50.2034,OUT049,1999,Medium,Tier 1,Supermarket Type1,1166.4816,2154.479628
766,FDZ04,9.310,low fat,0.037924,Frozen Foods,61.6510,OUT013,1987,High,Tier 3,Supermarket Type1,379.5060,2154.479628
2246,FDG29,17.600,Low Fat,0.056379,Frozen Foods,42.7454,OUT049,1999,Medium,Tier 1,Supermarket Type1,293.6178,2154.479628
2441,NCR41,17.850,Low Fat,0.018097,Health and Hygiene,96.9094,OUT018,2009,Medium,Tier 3,Supermarket Type2,1332.9316,2154.479628
4925,DRE03,19.600,Low Fat,0.040551,Dairy,45.5718,OUT010,1998,NaN,Tier 3,Grocery Store,47.2718,2154.479628

In [8]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7503,FDI28,14.300,Low Fat,0.026300,Frozen Foods,79.4302,OUT013,1987,High,Tier 3,Supermarket Type1,1743.0644
2957,NCM17,7.930,Low Fat,0.071136,Health and Hygiene,42.7086,OUT046,1997,Small,Tier 1,Supermarket Type1,356.8688
7031,FDC14,14.500,Regular,0.041313,Canned,42.0454,OUT049,1999,Medium,Tier 1,Supermarket Type1,377.5086
1084,DRC36,NaN,Regular,0.044767,Soft Drinks,173.7054,OUT027,1985,Medium,Tier 3,Supermarket Type3,5778.4782
856,FDS27,10.195,Regular,0.012456,Meat,197.5110,OUT035,2004,Small,Tier 2,Supermarket Type1,2356.9320

In [9]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4904,FDC34,16.00,Regular,0.172759,Snack Foods,157.0972,OUT046,1997,Small,Tier 1,Supermarket Type1,4673.9160
514,FDL48,19.35,Regular,0.082198,Baking Goods,49.2034,OUT013,1987,High,Tier 3,Supermarket Type1,729.0510
7879,NCC06,19.00,Low Fat,0.027028,Household,127.0336,OUT049,1999,Medium,Tier 1,Supermarket Type1,3962.8416
409,DRP35,NaN,Low Fat,0.090427,Hard Drinks,126.2336,OUT027,1985,Medium,Tier 3,Supermarket Type3,3195.8400
6596,NCM29,11.50,Low Fat,0.017678,Health and Hygiene,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1705.1138

## Simple Mean ( mean of Item_Outlet_Sales)

In [13]:
# storing simple mean in a new column in the test set as "simple_mean"
test['simple_mean'] = train['Item_Outlet_Sales'].mean()
test[['Item_Outlet_Sales','simple_mean']].head()

      Item_Outlet_Sales  simple_mean
7503          1743.0644  2154.479628
2957           356.8688  2154.479628
7031           377.5086  2154.479628
1084          5778.4782  2154.479628
856           2356.9320  2154.479628

In [14]:
#calculating mean absolute error
from sklearn.metrics import mean_absolute_error as MAE

simple_mean_error = MAE(test['Item_Outlet_Sales'] , test['simple_mean'])
simple_mean_error

1369.1543806463014

## Mean Item Outlet Sales with respect to Outlet_Type

In [15]:
out_type = pd.pivot_table(train, values='Item_Outlet_Sales', index = ['Outlet_Type'], aggfunc=np.mean)
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.713738
Supermarket Type1        2269.172538
Supermarket Type2        1961.889047
Supermarket Type3        3735.211455

In [16]:
# initializing new column to zero
test['Out_type_mean'] = 0

# For every unique entry in Outlet_Identifier
for i in train['Outlet_Type'].unique():
  # Assign the mean value corresponding to unique entry
  test['Out_type_mean'][test['Outlet_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Type'] == str(i)].mean()

In [20]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,simple_mean,Out_type_mean
4904,FDC34,16.00,Regular,0.172759,Snack Foods,157.0972,OUT046,1997,Small,Tier 1,Supermarket Type1,4673.9160,2154.479628,2269.172538
514,FDL48,19.35,Regular,0.082198,Baking Goods,49.2034,OUT013,1987,High,Tier 3,Supermarket Type1,729.0510,2154.479628,2269.172538
7879,NCC06,19.00,Low Fat,0.027028,Household,127.0336,OUT049,1999,Medium,Tier 1,Supermarket Type1,3962.8416,2154.479628,2269.172538
409,DRP35,NaN,Low Fat,0.090427,Hard Drinks,126.2336,OUT027,1985,Medium,Tier 3,Supermarket Type3,3195.8400,2154.479628,3735.211455
6596,NCM29,11.50,Low Fat,0.017678,Health and Hygiene,129.2626,OUT045,2002,NaN,Tier 2,Supermarket Type1,1705.1138,2154.479628,2269.172538

In [17]:
#calculating mean absolute error
out_type_error = MAE(test['Item_Outlet_Sales'] , test['Out_type_mean'] )
out_type_error

1140.9971466514626

## Mean Item Outlet Sales with respect to Outlet_Establishment_Year

In [21]:
out_year = pd.pivot_table(train, values='Item_Outlet_Sales', index = ['Outlet_Establishment_Year'], aggfunc=np.mean)
out_year

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2506.409498
1987                             2255.429990
1997                             2213.285178
1998                              328.811495
1999                             2316.032587
2002                             2163.635786
2004                             2373.476783
2007                             2295.841815
2009                             1961.889047

In [22]:
# initializing new column to zero
test['Out_year_mean'] = 0

# For every unique entry in Outlet_Identifier
for i in train['Outlet_Establishment_Year'].unique():
  # Assign the mean value corresponding to unique entry
  test['Out_year_mean'][test['Outlet_Establishment_Year'] == i] = train['Item_Outlet_Sales'][train['Outlet_Establishment_Year'] == i].mean()

In [23]:
#calculating mean absolute error
out_year_error = MAE(test['Item_Outlet_Sales'] , test['Out_year_mean'] )
out_year_error

1265.9192742645314

## Mean Item Outlet Sales with respect to Outlet_Location_Type

In [24]:
out_loc = pd.pivot_table(train, values = 'Item_Outlet_Sales', index = ['Outlet_Location_Type'], aggfunc = np.mean)
out_loc

                      Item_Outlet_Sales
Outlet_Location_Type
Tier 1                      1839.154066
Tier 2                      2276.975327
Tier 3                      2281.328336

In [25]:
# Initializing empty column
test['out_loc_mean'] = 0

# For every unique entry in Item_Identifier
for i in train['Outlet_Location_Type'].unique():
  # calculate and assign mean corresponding to the uniques entries
  test['out_loc_mean'][test['Outlet_Location_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Location_Type'] == str(i)].mean()

In [26]:
#calculating mean absolute error
out_loc_error = MAE(test['Item_Outlet_Sales'] , test['out_loc_mean'] )
out_loc_error

1363.620253367384

## Mean Item_Outlet_Sales with respect to both Outlet_Location_Type and Outlet_Establishment_Year

In [27]:
combo = pd.pivot_table(train, values = 'Item_Outlet_Sales', index = ['Outlet_Location_Type','Outlet_Establishment_Year'], aggfunc = np.mean)
combo

                                                Item_Outlet_Sales
Outlet_Location_Type Outlet_Establishment_Year
Tier 1               1985                              350.670086
                     1997                             2213.285178
                     1999                             2316.032587
Tier 2               2002                             2163.635786
                     2004                             2373.476783
                     2007                             2295.841815
Tier 3               1985                             3735.211455
                     1987                             2255.429990
                     1998                              328.811495
                     2009                             1961.889047

In [28]:
# Initiating new empty column
test['Super_mean'] = 0

# Assigning variables to strings ( to shorten code length)
s2 = 'Outlet_Location_Type'
s1 = 'Outlet_Establishment_Year'

# For every Unique Value in s1
for i in test[s1].unique():
  # For every Unique Value in s2
  for j in test[s2].unique():
    # Calculate and Assign mean to new column, corresponding to both unique values of s1 and s2 simultaneously
    test['Super_mean'][(test[s1] == i) & (test[s2]==str(j))] = train['Item_Outlet_Sales'][(train[s1] == i) & (train[s2]==str(j))].mean()

In [29]:
#calculating mean absolute error
super_mean_error = MAE(test['Item_Outlet_Sales'] , test['Super_mean'] )
super_mean_error

1140.3845730546504

### You can keep trying with other variables to understand the bench mark model