# Data Manipulation with Pandas

### Loading dataset

***In this notebook we will use the Big Mart Sales Data. You can download the data from : https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/download/train-file***

In [1]:
import pandas as pd
import numpy as np

# read the dataset
data_BM = pd.read_csv('bigmart_data.csv')
# drop the null values
data_BM = data_BM.dropna(how="any")
# reset index after dropping
data_BM = data_BM.reset_index(drop=True)
# view the top results
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

### 1. Aggregating data

There are multiple functions that can be used to perform useful aggregations on data in pandas:

 - groupby
 - crosstab
 - pivottable
 
#### a. **What is the mean price for each item type?** : groupby
- In the given data set, I want to find out **what is the mean price for each item type**?
- You can use **groupby()** to achieve this.
- The first step would be to group the data by Item_Type column.

In [2]:
# group price based on item type
price_by_item = data_BM.groupby('Item_Type')

# display first few rows
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDW11,12.600,Low Fat,0.048981,61.9194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC02,21.350,Low Fat,0.069103,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDR28,13.850,Regular,0.025896,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
Fruits and Vegetables,FDY07,11.800,Low Fat,0.000000,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
Hard Drinks,DRJ59,11.650,low fat,0.019356,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCM43,14.500,Low Fat,0.019472,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
Seafood,FDH21,10.395,Low Fat,0.031274,160.0604,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDB11,16.000,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier 2,Supermarket Type1,6301.1312

- Now that you have grouped by Item_Type, the next step would be to calculate the mean of Item_MRP.

In [3]:
# mean price by item 
price_by_item.Item_MRP.mean()

Item_Type
Baking Goods             125.795653
Breads                   141.300639
Breakfast                134.090683
Canned                   138.551179
Dairy                    149.481471
Frozen Foods             140.095830
Fruits and Vegetables    145.418257
Hard Drinks              140.102908
Health and Hygiene       131.437324
Household                149.884244
Meat                     140.279344
Others                   137.640870
Seafood                  146.595782
Snack Foods              147.569955
Soft Drinks              130.910182
Starchy Foods            151.256747
Name: Item_MRP, dtype: float64

- You can use `groupby` with **multiple** columns of the dataset too. 
- In this case, if you want to group first based on the Item_Type and then Item_MRP you can simply pass a list of column names.

In [4]:
# group on multiple columns
multiple_groups = data_BM[:10].groupby(['Item_Type', 'Item_Fat_Content'])
multiple_groups.first()

                                       Item_Identifier  Item_Weight  \
Item_Type             Item_Fat_Content
Baking Goods          Regular                    FDP36       10.395
Dairy                 Low Fat                    FDA15        9.300
                      Regular                    FDA03       18.500
Fruits and Vegetables Low Fat                    FDY07       11.800
                      Regular                    FDX32       15.100
Household             Low Fat                    NCD19        8.930
Meat                  Low Fat                    FDN15       17.500
Snack Foods           Regular                    FDO10       13.650
Soft Drinks           Regular                    DRC01        5.920

                                        Item_Visibility  Item_MRP  \
Item_Type             Item_Fat_Content
Baking Goods          Regular                  0.000000   51.4008
Dairy                 Low Fat                  0.016047  249.8092
                      Regular                  0.045464  144.1102
Fruits and Vegetables Low Fat                  0.000000   45.5402
                      Regular                  0.100014  145.4786
Household             Low Fat                  0.000000   53.8614
Meat                  Low Fat                  0.016760  141.6180
Snack Foods           Regular                  0.012741   57.6588
Soft Drinks           Regular                  0.019278   48.2692

                                       Outlet_Identifier  \
Item_Type             Item_Fat_Content
Baking Goods          Regular                     OUT018
Dairy                 Low Fat                     OUT049
                      Regular                     OUT046
Fruits and Vegetables Low Fat                     OUT049
                      Regular                     OUT049
Household             Low Fat                     OUT013
Meat                  Low Fat                     OUT049
Snack Foods           Regular                     OUT013
Soft Drinks           Regular                     OUT018

                                        Outlet_Establishment_Year Outlet_Size  \
Item_Type             Item_Fat_Content
Baking Goods          Regular                                2009      Medium
Dairy                 Low Fat                                1999      Medium
                      Regular                                1997       Small
Fruits and Vegetables Low Fat                                1999      Medium
                      Regular                                1999      Medium
Household             Low Fat                                1987        High
Meat                  Low Fat                                1999      Medium
Snack Foods           Regular                                1987        High
Soft Drinks           Regular                                2009      Medium

                                       Outlet_Location_Type  \
Item_Type             Item_Fat_Content
Baking Goods          Regular                        Tier 3
Dairy                 Low Fat                        Tier 1
                      Regular                        Tier 1
Fruits and Vegetables Low Fat                        Tier 1
                      Regular                        Tier 1
Household             Low Fat                        Tier 3
Meat                  Low Fat                        Tier 1
Snack Foods           Regular                        Tier 3
Soft Drinks           Regular                        Tier 3

                                              Outlet_Type  Item_Outlet_Sales
Item_Type             Item_Fat_Content
Baking Goods          Regular           Supermarket Type2           556.6088
Dairy                 Low Fat           Supermarket Type1          3735.1380
                      Regular           Supermarket Type1          2187.1530
Fruits and Vegetables Low Fat           Supermarket Type1          1516.0266
                      Regular           Supermarket Type1          1589.2646
Household             Low Fat           Supermarket Type1           994.7052
Meat                  Low Fat           Supermarket Type1          2097.2700
Snack Foods           Regular           Supermarket Type1           343.5528
Soft Drinks           Regular           Supermarket Type2           443.4228

You can read more about **groupby** and other related functions [here.](http://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

#### b. **How are outlet sizes distributed based on the city type?** : crosstab

- This function is used to get an initial “feel” (view) of the data. Here, we can validate some basic hypothesis.
- For example, in this case, "Outlet_Location_Type" is expected to affect the "Outlet_Size" significantly. This can be tested using cross-tabulation as shown below:

In [5]:
# generate crosstab of Outlet_Size and Outlet_Location_Type
pd.crosstab(data_BM["Outlet_Size"],data_BM["Outlet_Location_Type"],margins=True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0     928  1858
Small                    930     930       0  1860
All                     1860     930    1860  4650

- If you notice in the above `crosstab` there are interesting insights like 50% of medium size outlets are present only in either Tier 1 or Tier 2 cities.
- Another counter intuitive thing to notice is that high outlet size is only present in Tier 3 city though general assumption would be towards Tier 1 cities having larger outlet sizes.

#### c. How are the sales changing per year? : pivottable

- Pandas can be used to create MS Excel style pivot tables.
- The fun thing about pandas `pivot_table` is you can get another point of view on your data with only one line of code. 
- Most of the `pivot_table` parameters use default values, so the only mandatory parameters you must add are `data` and `index`. 
    - **data** is self explanatory – it’s the DataFrame you’d like to use
    - **index** is the column, grouper, array (or list of the previous) you’d like to group your data by. 
    - **values (optional)** is the column you’d like to aggregate. If you do not specify this then the function will aggregate all numeric columns.

In [6]:
# create pivot table
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year'], values= "Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

- In the above example, the mean sales for each year is shown.
- You can also pass multiple columns to pivot table, in the next exammple we try to see mean sales not just by the year but also taking into account the **outlet size** and type of the city.

In [7]:
# create pivot table
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values= "Item_Outlet_Sales")

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

- This makes it easier to see that Tier 1 cities have good sales irrespective of year and outlet size.
- We also notice that Tier 2 and Tier 3 cities dominate during the later years. This might mean both they are performing better or we have less data of later years.
- You can also perform multiple aggregations like mean, median, min, max etc. in a pivot table by using **aggfunc** parameter.

In [8]:
pd.pivot_table(data_BM, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values= "Item_Outlet_Sales", aggfunc= [np.mean, np.median, min, max, np.std])

,,,mean,median,min,max,std
,,,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales
Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Size,,,,,
1987,Tier 3,High,2298.995256,2050.6640,73.2380,10256.6490,1533.531664
1997,Tier 1,Small,2277.844267,1945.8005,101.8674,9779.9362,1488.405631
1999,Tier 1,Medium,2348.354635,1966.1074,111.8544,7646.0472,1513.289464
2004,Tier 2,Small,2438.841866,2109.2544,113.8518,8479.6288,1538.512533
2009,Tier 3,Medium,1995.498739,1655.1788,69.2432,6768.5228,1375.932889