In [1]:
# importing the libraries
import pandas as pd
import numpy as np

In [2]:
# reading the file
data = pd.read_csv('high_correlation_fllter.csv')

In [3]:
# first 5 rows of the data
data.head()

,ID,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,14.395,81,0.0,16
1,AB102,1,0,0,1,9.02,13.635,80,0.0,40
2,AB103,1,0,0,1,9.02,13.635,80,0.0,32
3,AB104,1,0,0,1,9.84,14.395,75,0.0,13
4,AB105,1,0,0,1,9.84,14.395,75,0.0,1

In [4]:
# shape of the data
data.shape

(12980, 10)

In [5]:
# number of missing values in each variable
data.isnull().sum()

ID            0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
count         0
dtype: int64

In [6]:
# dropping the targer variable
df = data.drop('count',axis=1)

In [7]:
# calculalting the correlation between independent variables
df.corr()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
season,1.000000,-0.010959,0.014343,-0.013005,0.394560,0.397765,0.181712,-0.135762
holiday,-0.010959,1.000000,-0.248558,-0.018406,-0.025104,-0.032903,-0.029520,0.021646
workingday,0.014343,-0.248558,1.000000,0.052788,0.060589,0.064840,0.028026,0.001986
weather,-0.013005,-0.018406,0.052788,1.000000,-0.093655,-0.094877,0.432497,0.011120
temp,0.394560,-0.025104,0.060589,-0.093655,1.000000,0.991839,-0.048478,-0.008669
atemp,0.397765,-0.032903,0.064840,-0.094877,0.991839,1.000000,-0.031606,-0.049997
humidity,0.181712,-0.029520,0.028026,0.432497,-0.048478,-0.031606,1.000000,-0.296975
windspeed,-0.135762,0.021646,0.001986,0.011120,-0.008669,-0.049997,-0.296975,1.000000

In [8]:
# creating correlation matrix
corr_matrix = df.corr().abs()

In [9]:
# selecting upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [10]:
upper

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
season,NaN,0.010959,0.014343,0.013005,0.394560,0.397765,0.181712,0.135762
holiday,NaN,NaN,0.248558,0.018406,0.025104,0.032903,0.029520,0.021646
workingday,NaN,NaN,NaN,0.052788,0.060589,0.064840,0.028026,0.001986
weather,NaN,NaN,NaN,NaN,0.093655,0.094877,0.432497,0.011120
temp,NaN,NaN,NaN,NaN,NaN,0.991839,0.048478,0.008669
atemp,NaN,NaN,NaN,NaN,NaN,NaN,0.031606,0.049997
humidity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.296975
windspeed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# finding index of variables with correlation greater than 0.6
to_drop = [column for column in upper.columns if any(upper[column] > 0.6)]

In [12]:
to_drop

['atemp']

In [13]:
# dropping the variable and creating new dataset
new_data = data.drop(data[to_drop], axis=1)

In [14]:
# first five rows of the new data
new_data.head()

,ID,season,holiday,workingday,weather,temp,humidity,windspeed,count
0,AB101,1,0,0,1,9.84,81,0.0,16
1,AB102,1,0,0,1,9.02,80,0.0,40
2,AB103,1,0,0,1,9.02,80,0.0,32
3,AB104,1,0,0,1,9.84,75,0.0,13
4,AB105,1,0,0,1,9.84,75,0.0,1

In [15]:
# shape of new and original data
new_data.shape, data.shape

((12980, 9), (12980, 10))